body
{
	background-color:#8c5946;
}

h1
{
	margin: 5%;
	font-size: 550%;
	line-height: 1.232;
	font-family: "Merienda";
    font-weight: 500;
	color: white;
}

h2
{
	margin: 20px;
	font-size: 20px;
	line-height: 1.4;
	text-align: left;
	font-family: "Merienda";
    font-weight: 300;
	color: white;
}

h3
{
	margin-left: 20px;
	font-size: 17px;
	line-height: 1.4;
	text-align: left;
	font-family: "Merienda";
    font-weight: 300;
	color: white;
}

h4
{	position: absolute;
	right: 20px;
    bottom: 0px;
	font-size: 13px;
	line-height: 1.232;
	font-family: "Merienda";
    font-weight: 300;
	color: #ecdebe;
}

#audio
{	position:absolute;
	display: block;
	width: 40px;
	top: 10px;
	right: 20px;
}

#egg
{	position:fixed;
	display: block;
	width: 10px;
	top: 13.5%;
	left: 10.4%;
}

#sx
{
	width: 43%;
    float: left;
	display: block;
	margin-left: 1.7%;
	margin-top: 2.4%;
}

#bottone
{
	font-size: 25px;
    border: 2px solid #00000059;
    background-color: transparent;
    font-family: "Merienda";
    font-weight: 300;
    color: white;
    float: left;
    margin-left: 17px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    padding-inline: 7px;
    border-radius: 15px;
}

input
{
    text-align: center;
    font-size: 20px;
    height: 40px;
    font-family: "Merienda";
    font-weight: 300;
    color: #613d31;
    border: none;
	outline-color: #613d31;
}

#vinile 
{
	margin-right: 20px;
    float: right;
    display: block;
    width: 40%;
    padding-right: 40px;
    min-width: 300px;
    margin: 50px;
}