body
{
	background: linear-gradient(to bottom left, #ff9933 0%, #ff6699 100%);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}
h1
{
	color: MistyRose;
	text-align: center;
	font-family: lucida console;
	font-size: 150px;
}
h2
{
	margin-left:200px;
	margin-right:200px;
	font-size:60px;
	color: SeaShell;
	text-align: center;
}

h3
{
	margin-left:200px;
	margin-right:200px;
	font-size:38px;
	color: SeaShell;
	text-align: center;
}
p
{
	margin-left:200px;
	margin-right:200px;
	font-size:30px;
	color: SeaShell;
	text-align: center;
}
#caldi
{
	display: block;
	margin: 0 auto;
}
#plinio
{
	display: block;
	margin: 0 auto;
}
.imput
{
	margin-left:10px;
	margin-right:10px;
	display: block;
	margin: 0 auto;
	color: MistyRose;
	font-size:25px;
	width: 300px;
	height:70px;
}

#bottone
{
	background-color:ORANGERED;
}
#E
{
	background-color:Chocolate;
}
#C
{
	background-color:MEDIUMSEAGREEN;
}
#OP
{
	background-color:DODGERBLUE;
}


#gt
{
	background-color:MediumVioletRed ;

}
#A
{
	
    background-color:IndianRed;
}
#B
{
    
	background-color:Indigo;
}
#D
{
	
    background-color:Crimson;
}     
#n
{
	background-color:CADETBLUE;
}
#m
{
	background-color:LightSalmon ;	
}
#l
{
	background-color:VIOLET;
}
#o
{
	background-color:MEDIUMPURPLE;
}
#p
{
	background-color:SLATEGRAY;
}
#G
{
	background-color:BLUE;
}
#GG
{
	background-color:HOTPINK;
}
#GGG
{
	background-color:MAROON;
}
#GGGG
{
	background-color:NAVY;
}
#WW
{
	display: block;
	margin: 0 auto;
}
#hi
{
	
    background-color:darkred;
}