body
{
	background-image: url(http://static.simpledesktops.com/uploads/desktops/2010/11/13/retro_november.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}