@page {
	padding: 5px;
}

body{
	background-color: #8c5946;
}

h1{
	text-align: center;
    padding-top: 10px;
	color: white;
}

h3{
	color: white;

}

p{
	display: block;
	font-family: Sylfaen, serif;
	line-height: 150%;
	font-size: 1.1em;
	text-align: justify;
	color: white;
}

ol{
	color: white;
}

a{
	color: white;
}

.titolo{
	line-height: 130%;
	font-size: 1.2em;
}

.tilde {font-family: "Microsoft New Tai Lue", sans-serif;}

.A1 {font-size: 0.8em;}

.A2 {font-size: 0.7em;}

.A3 {font-size: 0.6em;}

#A4 {font-size: 0.5em;}

#bolle {
    font-family: SimSun, sans-serif;
    line-height: 1.2;
}

#YaHei {font-family: "Microsoft YaHei", sans-serif;}

#fischio {
	font-size: 0.58333em;
	vertical-align: 33%
}

.disegni{
	font-family: "Courier New", monospace;
	font-size: 0.8em;
	margin-left: 1.25cm;
	line-height: 2px;	
}

.disegni2{
	font-family: "Courier New", monospace;
	font-size: 0.5em;
	margin-left: 1.5cm;
	line-height: 1px;	
}

.x3 {font-size: 0.75em;}

#rrr {
    font-family: Symbol, serif;
    font-style: italic;
}

#musica {font-family: "Segoe MDL2 Assets", sans-serif;}

#peace_signe {font-family: "Segoe UI Emoji", sans-serif;}

#smile {font-family: "Segoe MDL2 Assets", sans-serif;}

#indice {   
    width: 30px}

#home {	
    position: fixed;
    display: block;
    width: 30px;
    top: 10px;
    right: 65px;
}

.widgettitle {
    margin-bottom: 5px;
    font-size: 25px;
}

.toc_toggle {
    background: transparent;
    max-width: 35px;
    padding: 0px;
    position: fixed;
    top: 7px;
    right: 15px;
    z-index: 999999;
    cursor: pointer;
}

#fix_toc.hide {display: none;}

ul {
    padding-inline-start: 20px;
	
}

.fix_toc {
    position: fixed;
    right: 15px;
    top: 55px;
    padding-right: 15px;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 15px;
    background: #f2f4f6;
    z-index: 999999;
    max-width: 200px;
    max-height: 50vh;
    overflow-y: auto;
}

.fix_toc .widget ul li a{
    font-size: 14px;
    line-height: 24px;
    padding: 5px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
    color: black;
    display: block;
}

div#fix_toc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: black;
}
  
div#fix_toc::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
}